footer
  .container.text-center
    div © 2014 Benjamin Schenker.
    div
      strong Hackathon Starter
      |  Project ·
      |  Created by
      a(href='http://benschenker.com')  Ben Schenker
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/benschenker/ReadOnce') GitHub Project
