extends layout

block content
  h1 ReadOnce
  p.lead Paste text below and generate a link that will self destruct after it is accessed once.
    div#inputarea
      code(class='secretlink', style='display:none; width:500px')
        a#secreta
      textarea#input
  br
  button#Generate Generate Link
