extends layout

block content
  p.lead Paste text below and generate a link that will self destruct after it is accessed once.
  form#genLinkForm(action="/linkgen" method="POST")
    textarea#input(name="secret")
    br
    input(type="submit" val="Generate Link")
